<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Script.Pipelines.IgnoreUrlList, Sitecore.Script"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.IgnoreList, Sitecore.Kernel']">
          <!-- Reject below paths, which aborts Sitecore pipeline, allowing WebSockets passthrough -->
          <Paths hint="list:AddPaths">
            <path>/mirrorsharp</path>
            <path>/msrepl</path>
          </Paths>
        </processor>
      </httpRequestBegin>
      <initializeOwinMiddleware>
        <processor type="Sitecore.Script.Pipelines.MirrorSharpOwinMiddleware, Sitecore.Script">
          <Filenames hint="list:ExcludeFile">
            <filename>msvcp140.dll</filename>
            <filename>vcruntime140.dll</filename>
            <filename>System.EnterpriseServices.dll</filename>
            <filename>System.EnterpriseServices.Thunk.dll</filename>
            <filename>System.EnterpriseServices.Wrapper.dll</filename>
            <filename>System.Data.dll</filename>
          </Filenames>
          <!-- AddAllAssembliesInPath filters using excluded file list from above -->
          <Paths hint="list:AddAllAssembliesInPath">
            <path>C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.6.2</path>
          </Paths>
          <!-- AddAssembly ignores excluded file list -->
          <Assemblies hint="list:AddAssembly">
            <assembly>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\mscorlib.dll</assembly>
            <assembly>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\System.dll</assembly>
            <assembly>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\System.Web.dll</assembly>
            <!-- If you want to avoid any Data Access (SQL, ODBC, etc.) comment below dll -->
            <assembly>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\System.Data.dll</assembly>
            <assembly>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\System.Xml.dll</assembly>
            <assembly>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\System.Xml.Linq.dll</assembly>
          </Assemblies>
        </processor>
      </initializeOwinMiddleware>
    </pipelines>
    <authorization>
      <providers>
        <!-- Use this provider along with services configurator ServicesOverride below -->
        <add name="sitecore-script" type="Sitecore.Script.Security.ScriptAuthorizationProvider, Sitecore.Script" connectionStringName="core" embedAclInItems="true"
             limitedAccessRights="field:write|item:write|item:rename|item:create|item:delete|item:admin|language:write|workflowState:write" />
      </providers>
    </authorization>
    <services>
      <configurator type= "Sitecore.Script.DependencyInjection.ServicesConfigurator, Sitecore.Script"/>
      <!-- Use this services configurator to replace Sitecore's Authorization Manager and use above Script Authorization Provider for restricting access rights -->
      <configurator type= "Sitecore.Script.DependencyInjection.ServicesOverride, Sitecore.Script"/>
    </services>
    <settings>
      <!-- Change to web database, if needed -->
      <setting name="Sitecore.Script.ContextDatabase" value="master" />
      <setting name="Sitecore.Script.ScriptFolderTemplateName" value="Sitecore Script Folder" />
      <setting name="Sitecore.Script.ScriptCodeTemplateName" value="Sitecore Script Code" />
      <setting name="Sitecore.Script.ScriptCodeTemplateFullName" value="modules/Sitecore Script/Sitecore Script Code" />
      <setting name="Sitecore.Script.CodeFieldName" value="Code" />
      <setting name="Sitecore.Script.LibraryPath" value="/sitecore/system/Modules/Sitecore Script/Script Library" />
    </settings>
  </sitecore>
</configuration>